<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
    <% for (let data of file) { %>
      <p> <%= data.name %> </p>
      <p> <%= data.surname %> </p>
      <p> <%= data.email %> </p>
      <p> <%= data.birthdate %> </p>
      <p> <%= data.language %> </p>
      <p> <%= data.id %> </p>
    <% } %>
    </p>
  </body>
</html>
